@font-face {
  font-family: "BrandFont";
  src: local("BrandFont"), url("../assets/fonts/Alterlight-Regular.ttf") format("truetype");
}

.sticky-top {
  position: sticky;
  top: 0;
}

.brand-title {
  margin-left: .5rem;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "BrandFont";
}