@font-face {
  font-family: "BrandFont";
  src: local("BrandFont"), url("../assets/fonts/Alterlight-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "QuoteFont";
  src: local("QuoteFont"), url("../assets/fonts/Hatterline-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "SubFont";
  src: local("SubFont"), url("../assets/fonts/Warton-Regular.ttf") format("truetype");
}